# Python
__pycache__/
.venv/

# Astro
.astro/

# Airflow
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# MinIO
include/data/minio/.minio.sys/tmp/

# IDE/Editor files
.vscode/
.idea/

# OS files
.DS_Store

# Hidden files (be careful with this - it's very broad)
.*